body {
    text-align: center;
    margin: 0 auto;
    width: 480px;
    color: #3c3c3c;
    background-color: #f3f3f3;
}

form {
    align: center;
    text-align: center;
    color: #3c3c3c;
    background-color: #f3f3f3;
}

input.variable {
    text-align: right;
    border: 0px solid;
    border-bottom: 1px solid;
    width: 50px;
}

input {
    text-align: right;
    color: #3c3c3c;
    background-color: #f3f3f3;
    border: 0px solid;
    border-bottom: 1px solid;
}

p#result {
    font-size: 12px;
    margin: 12px auto;
    align: center;
    width: 120px;
    text-align: right;
    border-bottom: 1px solid;
}
