body {
    text-align: center;
    margin: 20px auto;
    width: 480px;
    color: white;
    background-color: #cccccc;
}

div#root {
    padding: 20 0 20 0;
    background-color: black;
    color: white;
    border-radius: 10px;
}

form {
    margin: 20px;
    align: center;
    text-align: center;
    color: white;
    background-color: black;
}

input.variable {
    text-align: right;
    border: 0px solid;
    border-bottom: 1px solid;
    width: 50px;
}

input {
    text-align: right;
    color: white;
    background-color: black;
    border: 0px solid;
    border-bottom: 1px solid;
}

p#result {
    font-size: 12px;
    margin: 12px auto;
    align: center;
    width: 120px;
    text-align: right;
    border-bottom: 1px solid;
}
